.nav{
    display: flex;
    justify-content: center;
    background-color: black;
    color : white;
    height : 50px;
    align-items: center;
    text-align: center;

}
.body{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form{
    display: flex;
    flex-direction: column;
    width: 500px;
}

.image{
    width:300px ;
}